div#content {
    width: 800px;
    margin: 0 auto;
    background: grey;
    height: 600px;
	text-align:center;
}
div#content h2 {
    color: #fff;
    text-align: center;
    background: rebeccapurple;
    padding: 13px 0;
}
div#content p {
    text-align: center;
    color: chartreuse;
    font-size: 26px;
}
form.bmi-form {
    display: inline-block;
}


form.bmi-form table tr td input {
    padding: 10px 17px;
	cursor:pointer;
}